<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- ApplicationContext -->
    <bean id="springContextUtil" class="com.zhou.util.SpringContextUtil"></bean>
    <!--<bean id="springContextUtilTest" class="com.zhou.test.SpringContextUtilTest"></bean>-->
    <!--<bean id="initApplicationListener" class="com.zhou.Listener.InitApplicationListener"></bean>-->
    <!--<context:annotation-config/>-->


    <!--Filter Type	Examples Expression	Description
    annotation	org.example.SomeAnnotation	符合SomeAnnoation的target class
    assignable	org.example.SomeClass	指定class或interface的全名
    aspectj	org.example..*Service+	AspectJ语法
    regex	org\.example\.Default.*	Regelar Expression
    custom	org.example.MyTypeFilter	Spring3新增自订Type，实作org.springframework.core.type.TypeFilter-->
    <context:component-scan base-package="com.zhou">
        <context:exclude-filter type="regex" expression="com.zhou.test.aop.*"/>
    </context:component-scan>
</beans>